html, body { margin: 0; padding: 0; }
.hidden.menu {
  display: none;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 700px solid #0892d0;
  border-right: 700px solid transparent;
  border-bottom: 500px solid transparent;
  border-top: 500px solid transparent;
  position: absolute;
  opacity: 0.7;
  z-index: auto;
}

.triangle2 {
  height: 0;
  width: 0;
  top: 50vh;
  border-left: 700px solid #0892d0;
  border-right: 700px solid transparent;
  border-bottom: 500px solid transparent;
  border-top: 500px solid transparent;
  position: absolute;
  opacity: 0.9;
  transform: rotate(180deg);
  z-index: -1;
}

@media only screen and (max-width: 479px){
    .triangle {
      border-left: 300px solid #0892d0;
      border-right: 300px solid transparent;
      border-bottom: 200px solid transparent;
      border-top: 200px solid transparent;
     }
}

.masthead.segment {
  min-height: 600px;
  background: url('img/background.png') !important;
  background-repeat: no-repeat;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.logo{
  width: 270px;
  height: 300px;
}
.logo-header{
  height: 100vh;
  background-image: url("img/background.png");
  background-position: center;
}
.logo-header h2 {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.info-header{
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-image: -webkit-linear-gradient(45deg, #0892d0, #17cfd8);
  color: #fafafa;
}

.info-header h3{
  margin-top: 100px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.heading{
  width: 50vw;
  height: 400px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 50px !important;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
  font-family: 'Quicksand', sans-serif !important;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
